
html, body {
    margin: 0;
    padding: 0;
}

/* Element of the list marked as done */
.done {
    text-decoration: line-through;
}

header {
    margin: 0 auto;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}