
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


header {
    margin: 0 auto;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

input {
    margin: 0 .25rem;
    min-width: 125px;
    border: 1px solid #eee;
    border-radius: 5px;
    outline: none;
}

button {
    margin: 0 .25rem;
    border-radius: 5px;
}

/* Element of the list marked as done */
.done div  {
    text-decoration: line-through;
}

#itemsList {
    list-style-type: none;
}

#itemsList li {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    width: 50%;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 3px 3px 3px gray;
}
